.main{
    padding-top: 60px;
    text-align: center;
}

.main {
    background: #4056A1;
    min-height: 350px;
    margin: 5px;
  }
  
  .aside {
    background:#c5cbe3;
    min-height: 350px;
    margin: 8px;
    // border-radius: 20px;
  }

  .tipTitle{
      margin-top: 40px;
      text-align: center;
  }