.text{
    position: absolute;
    top: 200px;
    text-align: center;
    height: 50px;
    font-size: 80pt;
    margin-left: 100px;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    filter: blur(2.5px);
}

img{
    width: 100%;
    height: 500px;
    position: relative;
}

.header {
    top: 150px;
    color: white;
    font-size: 50pt;
    font-weight: bold;
    /* text-align: center; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    position: absolute;
}

.signUpButton{
    font-size: 1.25rem;
    position: absolute;
    top: 450px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    // border-radius: 25px;
    /* text-align: center; */
    margin-left: 45%;
    background-color: orangered;
    color: white;
        a:link{
            text-decoration: none;
        }
        a{
            color: white;
        }
}

.sym{
    width: 125px;
    height: 125px;
    margin-bottom: 10px;
    column{
        text-align: center;
    }
}

.symbol{
    margin-top: 30px;
    background-color: white;
    text-align: center;
}

.head{
    font-weight: bold;
}
p{
    line-height: 0;
}
.heading{
    margin-top: 20px;
    font-weight: bold;
    font-size: 22pt;
    text-align: center;
}
.landingBox{
    background-color: white;
    margin-bottom: 30px;
    text-align: center;
    padding: 20px;
}