.dropdown.menu {
    a {
        color: #000000;
        font-size: 17pt;
    }
    
}

.menu-text {
    list-style: none;
}
.top-bar {
    background-color: slategrey;
    padding: 5px;
    padding-top: 15px;
    margin-bottom: 0;
    .top-bar ul {
        background-color: slategrey;
    }
}

.top-bar, .top-bar ul {
    background-color: slategrey;
}
#logo{
width: 132px;
height: 38px;
}
.heading{
    padding-bottom: 20px;
}

@media screen and (max-width: 39.9375em) {
    .dropdown.menu {
        justify-content: center;
    }
    .top-bar-left{
        justify-content: center; 
    }
    .top-bar, .top-bar ul {
    background-color: slategrey;
    text-align: center;
}
.top-bar{
    background-color: slategrey;
    margin-bottom: 0;
}
}

