.button{
    color: black;
    // border-radius: 25px;
    background-color: #efe2ba;
}
.signUpButton{
    font-size: 1.25rem;
    position: absolute;
    top: 550px;
    // border-radius: 25px;
    margin-left: 45%;
    background-color: orangered;
    color: white;

}