.button{
    color: black;
    background-color: #BCED91;
    margin-bottom: 145px;
}
.signUpButton{
    font-size: 1.25rem;
    // position: absolute;
    // top: 300px;
    // margin-left: 45%;
    background-color: orangered;
    color: white;
    font-weight: bold;
}

body{
    background-color: #f4f3f0;
}