.userRegInput{
    text-align: center;
    background-color: #c5cbe3;
    background: #c5cbe3;
    min-height: 350px;
    margin: 5px;
    // border-radius: 15px; 
    padding-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
}