.statusInput{
    text-align: center;
    background-color: #4056A1;
    min-height: 350px;
    margin: 5px;
    padding-top: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.aside {
    background: #ff435b;
    min-height: 353px;
    margin-top: 30px;
    border-radius: 5px;
}

.tipTitle{
    margin-top: 40px;
    text-align: center;
}


.switchText{
    display: inline-block;
    margin-right: 10px;
}

.switchBox{
    display: inline-block;
}


.switch.small{
    display: inline;
    margin-left: 5px;
    }